

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

p{
  font-family: 'Lato', sans-serif !important;
}
h1, h2, h3, h4{
  font-family: var(--calluna) !important;
}
ul li{
  font-family: 'Lato', sans-serif;
}

*{
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
.wrapper{
  max-width: 1500px;
  margin: auto;
  width: 90%;
}

 





